<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="template::head"> </head>

	<body>
		<div class="navBar" th:replace="template::navBar"></div>
		<div class="context" align="center">
			<br />
			<div>
				<h1>List of Employee</h1>
				<a th:href="@{/create}"
					><button type="button" class="btn btn-primary btn-sm">Add new Employee</button></a
				>
			</div>
			<br />
			<table class="table table-striped w-auto" th:object="${list}">
				<thead class="bg-success text-white">
					<tr style="text-align: center">
						<th>Full Name</th>
						<th>Email</th>
						<th>Passport Number</th>
						<th colspan="3">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="emp : ${list}">
						<td th:text="${emp.fullName}"></td>
						<td th:text="${emp.emailID}"></td>
						<td th:text="${emp.passportNumber}"></td>
						<td>
							<a class="btn btn-info btn-sm" th:href="@{/view/{id}(id = ${emp.id})}" role="button"
								>Details</a
							>
						</td>
						<td>
							<a class="btn btn-warning btn-sm" th:href="@{/edit/{id}(id = ${emp.id})}" role="button"
								>Edit</a
							>
						</td>
						<td>
							<a class="btn btn-danger btn-sm" th:href="@{/delete/{id}(id = ${emp.id})}" role="button"
								>Delete</a
							>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="script" th:replace="template::script"></div>
	</body>
</html>
