<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="template::head"> </head>

	<body>
		<div class="navBar" th:replace="template::navBar"></div>
		<div class="context" align="center">
			<table class="table table-striped w-auto" th:object="${list}">
				<thead class="bg-success text-white">
					<tr style="text-align: center">
						<th>Full Name</th>
						<th>Email</th>
						<th>Passport Number</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="emp : ${list}">
						<td th:text="${emp.fullName}"></td>
						<td th:text="${emp.emailID}"></td>
						<td th:text="${emp.passportNumber}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="script" th:replace="template::script"></div>
	</body>
</html>
